
{% extends "index.html" %}
{% block title %}Mushroom prediction{% endblock %}


{% block content %}

 <div class="login">
	<h1>Mushroom edibility prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_datapoint')}}"method="post">
       <div class="form-outline form-group mb-4">
        {{ render_field(form.cap-shape_flat, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.bruises, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.odor_none, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.gill-size, class="form-control") }}
      </div>
    
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ result }}

 </div>

 {% endblock %}



