
{% extends "index.html" %}
{% block title %}Predict Rent{% endblock %}


{% block content %}
{% from "includes/form_helper.html" import render_field %}

 <div class="login">
	<h1>Rental Predictor</h1>

     <!-- Main Input For Receiving Query to our ML -->
     <form action="{{ url_for('predict_datapoint')}}" method="post">

      <div class="form-outline form-group mb-4">
        {{ render_field(form.accommodates, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.availability_30, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.bathrooms, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.bedrooms, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.beds, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.calculated_host_listings_count, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.host_listings_count, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.cancellation_policy, class="form-select") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.guests_included, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.maximum_nights, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.number_of_reviews, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.review_scores_communication, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.review_scores_location, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.review_scores_value, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.review_scores_rating, class="form-control") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.room_type, class="form-select") }}
      </div>
      
      <div class="form-outline form-group mb-4">
        {{ render_field(form.amenities, class="form-select", multiple="multiple") }}
      </div>
      
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ result }}

 </div>

 {% endblock %}



